body {
    background: linear-gradient(180deg, #020617, #0f172a);
    color: #f8fafc;
    font-family: 'Segoe UI', sans-serif;
}

/* NAVBAR */
.custom-navbar {
    background: linear-gradient(180deg, #020617, #0f172a);
    padding: 18px 0;
}

.logo-box {
    width: 60px;
    height: 40px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.logo-box img {
    height: 110px;       
    width: auto;
    object-fit: contain;
    display: block;
}

.custom-dropdown {
    background-color: #020617;
}

.custom-dropdown .dropdown-item {
    color: #e5e7eb;
}

.custom-dropdown .dropdown-item:hover {
    background-color: #1e3a8a;
    color: white;
}

.search-box input {
    width: 260px;
}

.btn-search {
    margin-left: 8px;
    border: 1px solid #1e3a8a;
    color: white;
}

.btn-search:hover {
    background-color: #1e3a8a;
}

/* ----HOME---- */

/* CAROUSEL 1 */
#carouselHero {
    max-height: 70vh;
    overflow: hidden;
}

.carousel-img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 20px;
}

/* CAROUSEL 2 (1:1) */
.carousel-wrapper {
    aspect-ratio: 1 / 1;
    width: 100%;
    max-width: 300px;
}

/* DESC 1 */
.desc-box {
    background: linear-gradient(115deg, #0f172a, #0d2466);
    padding: 28px 32px;
    border-radius: 18px;
    width: 100%;
    max-width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
}


/* IMAGE */
.news-image {
    width: 100%;
    max-height: 180px;          
    overflow: hidden;
    border-radius: 16px;

    display: flex;
    align-items: center;
    justify-content: center;
}

.news-image img {
    width: 100%;
    height: 100%;
    object-fit: contain;  
}


/* CAROUSEL 3 (16:9) */
.bottom-carousel {
    aspect-ratio: 16 / 9;
    max-height: 400px;          
    width: 100%;
    overflow: hidden;

    background: linear-gradient(135deg, #020617, #1e3a8a);
    border-radius: 14px;

    display: flex;
    align-items: center;
    justify-content: center;
}

.brand-logo {
    width: 140px;
    margin-bottom: 20px;
}

/* ----SMARTPHOME, TABLET, LAPTOP---- */
.phone-card {
    background: linear-gradient(135deg, #020617, #0d2466);
    border-radius: 16px;
    padding: 20px;
    color: #fff;
    height: 100%;
}

.phone-img {
    width: 100%;
    aspect-ratio: 1 / 1;
    object-fit: cover;
    border-radius: 12px;
}

.detail-link {
    display: inline-block;
    margin-top: 8px;
    color: #93c5fd;
    text-decoration: none;
}

.detail-link:hover {
    text-decoration: underline;
}

/* ----ABOUT---- */
.anggota-card {
  background-color: #0d2466;
  border: none;
  border-radius: 16px;
}

.anggota-card-full {
  max-width: 700px;   
  margin: 0 auto;     
  padding: 10px;
}

/* FOOTER */
footer {
    background: #020617;
    color: #94a3b8;
}
